.header-top {
  position: relative;
  background: $atlantis;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  .header-wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(sm) {
      display: flex;
      flex-direction: column;
    }

    .left-block {
      align-self: center;

      @include media-breakpoint-down(sm) {
        padding: 20px 0 15px 15px;
        align-self: flex-start;
      }

      img {
        @include media-breakpoint-down(md) {
          width: 126px;
          margin-right: 15px;
        }

        @include media-breakpoint-down(sm) {
          width: 126px;
        }
      }
    }

    .nav {
      .navbar {
        margin: 0;
        padding: 0;
        @include media-breakpoint-down(sm) {
          width: 100%;
          margin-bottom: 13px;
          margin-top: -3px;
          min-height: 0!important;
        }

        button {
          position: absolute;
          top: -35px;
          right: 15px;
          display: none;
          z-index: 1000;

          @include media-breakpoint-down(sm) {
            display: block;
            cursor: pointer;
          }
        }

        .navbar-collapse {
          box-shadow: none!important;
          -webkit-box-shadow: none!important;
        }

        #navbar {
          ul {
            display: flex;
            align-items: center;
            height: 100%;
            margin: 0;
            padding: 0;
            list-style-type: none;
            color: $white;

            @include media-breakpoint-down(sm) {
              flex-direction: column;
              margin: 10px 0 0 0;
            }

            li {
              margin: 35px 0 34px 0;

              @include media-breakpoint-up(sm) {
                &:nth-child(2) {
                  margin-right: 16px;
                  margin-left: 13px;
                }

                &:nth-child(4) {
                  margin-right: 17px;
                  margin-left: 16px;
                }

                &:nth-child(6) {
                  margin-right: 15px;
                  margin-left: 14px;
                }

                &:nth-child(8) {
                  margin-right: 20px;
                  margin-left: 12px;
                }
              }

              @include media-breakpoint-down(sm) {
                text-align: center;
                margin: 15px;
                width: 100%;

                &:nth-child(2), &:nth-child(4), &:nth-child(6), &:nth-child(8) {
                  display: none;
                }
              }

              a {
                text-decoration: none;
                color: $white;
                font-weight: bold;
                font-size: 12px;

                @include media-breakpoint-up(sm) {
                  &:hover {
                    text-decoration: underline;
                    transition: all 0.3s ease-in-out;
                  }
                }
              }

              img {
                padding-bottom: 4px;
              }
            }
          }
        }
      }
    }
  } //header-wrapper
}

.header-bottom {
  .container {
    .login-menu {
      background-color: $white;
      display: flex;
      justify-content: flex-end;
      margin: 0;
      padding: 0;

      @include media-breakpoint-down(md) {
        flex-direction: column;
        padding-bottom: 15px;
      }

      li {
        font-size: 12px;
        margin: 0;
        padding: 0;
        color: $dusty-gray;
        list-style-type: none;
        display: flex;
        justify-content: center;

        span {
          align-self: center;
          letter-spacing: 0.5px;
          line-height: 0;

          @include media-breakpoint-down(md) {
            margin: 20px 0;
          }
        }

        a {
          color: $dusty-gray;
          font-size: 12px;
          font-weight: bold;
          margin: 0;
          padding-right: 14px;
        }

        .transparent {
          margin: 9px 0 10px 7px;
          padding: 5px 13px 4px 12px;
          border: 1px solid $celeste;
          color: $dusty-gray;
          background: $white;
          font-size: 12px;
          font-weight: normal;
          cursor: pointer;

          @include media-breakpoint-down(md) {
            margin: 10px 0;
          }

          &:hover {
            opacity: 0.8;
            outline: none;
            transition: all 0.3s ease-in-out;
            background: $fuscous-gray;
            color: white;
            border: 1px solid $fuscous-gray;
           }
        }

        img {
          width: 19px;
          height: 19px;
          margin-right: 6px;
        }
      }
    } // /login
  }
}
