	<footer>
		<div class="container">
			<div class="footer-wrapper">
				<div class="left-block">
					<p>Copyright InfoBits © 2016. All Rights Reserved</p>
				</div>
				<ul class="right-block">
					<li>
						<a href="landing.html">Sākums</a>
					</li>
					<li><img src="assets/img/elements/ellipse-dark.png" alt="Ellipse"></li>
					<li>
						<a href="categories.html">Katalogs</a>
					</li>
					<li><img src="assets/img/elements/ellipse-dark.png" alt="Ellipse"></li>
					<li>
						<a href="#">Veikali</a>
					</li>
					<li><img src="assets/img/elements/ellipse-dark.png" alt="Ellipse"></li>
					<li>
						<a href="articles.html">Raksti</a>
					</li>
					<li><img src="assets/img/elements/ellipse-dark.png" alt="Ellipse"></li>
					<li>
						<a href="contacts.html">Kontakti</a>
					</li>
				</ul>
			</div>
		</div>
	</footer>
