
<section class="header-top">
	<div class="container">
		<div class="header-wrapper">
			<div class="left-block">
				<a href="landing.html"> <img src="assets/img/logo.png" alt="logo"> </a>
			</div>

			<div class="nav">
			<nav class="navbar navbar-expand-md">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="line-1"></span>
					<span class="line-2"></span>
					<span class="line-3"></span>
				</button>
				<div class="navbar-collapse collapse" id="navbar">
					<ul class="navbar-nav mr-auto">
						<li>
						 <a href="landing.html">Sākums</a>
					 </li>
					 <li><img src="assets/img/elements/ellipse.png" alt="Ellipse"></li>
					 <li>
						 <a href="categories.html">Katalogs</a>
						</li>
					 <li><img src="assets/img/elements/ellipse.png" alt="Ellipse"></li>
						<li>
							<a href="#">Veikali</a>
						</li>
					 <li><img src="assets/img/elements/ellipse.png" alt="Ellipse"></li>
						 <li>
							 <a href="articles.html">Raksti</a>
						</li>
					 <li><img src="assets/img/elements/ellipse.png" alt="Ellipse"></li>
					 <li>
						 <a href="contacts.html">Kontakti</a>
						</li>

					{% if page.header=='authorized-2' %}

					<li class="links">
						<a class="transparent-link">
							AUTORIZĒTIES
						</a>
					</li>
					<li>
						<a class="transparent-link">
							REĢISTRĒTIES
						</a>
					</li>

					{% endif %}

					</ul>
				</div>
			</nav>
			</div>
		</div>
	</div>
</section>

{% if page.header=='header-1' %}
<section class="header-bottom">
	<div class="container">
			<ul class="login-menu">
				<li>
					<span>
						<img src="assets/img/elements/plus.png" alt="Add">
						<a href="#">
							Pievienot jaunu uzņēmumu
						</a>
					</span>
				</li>
				<li>
					<a id="myLogin" class="transparent">
						AUTORIZĒTIES
					</a>
				</li>
				<li>
					<a id="myReg" class="transparent">
						REĢISTRĒTIES
					</a>
				</li>
			</ul>
	</div>
</section>
{% endif %}

{% if page.header=='authorized' %}
<section class="header-authorized">
	<div class="container">
		<div class="wrapper-authirized">

	    <ul class="left-block">
	      <li><a class="email" href="mailto:info@krabis.lv"><span>info@krabis.lv</span></a></li>
	      <li><a href="#"><img src="assets/img/elements/plus.png" alt="Add"></a></li>
	      <li><a href="#">Pievienot jaunu uzņēmumu</a></li>
	    </ul>
	  	<ul class="right-block">
	      <li>
	  			<a href="" class="login-authorized">
	  				Mani uzņēmumi
	  			</a>
	  		</li>
	  		<li>
	  			<a href="" class="login-authorized">
	  				Labot profilu
	  			</a>
	  		</li>
	      <li>
	  			<a href="" class="login-authorized">
	  				Maksājumi
	  			</a>
	      </li>
	      <li>
	  			<a href="" class="login-authorized">
	  				Favorīti
	  			</a>
	      </li>
	      <li> <a class="exit" href="#">Iziet</a> </li>
		  </ul>
		</div>
	</div>
</section>
{% endif %}

{% if page.header=='authorized-2' %}
<section class="header-bottom">
	<div class="container">
		<div class="header-2">

			<ul class="it-enterprises">
				<li>
					<a href="#">Home</a>
				</li>
				<li>
					<img src="assets/img/elements/arr-right.png" alt="Arrow">
				</li>
				<li>
					<a href="#">Uzņēmumi</a>
				</li>
				<li>
					<img src="assets/img/elements/arr-right.png" alt="Arrow">
				</li>
				<li>
					<a href="#">IT Uzņēmumi</a>
				</li>
				<li>
					<img src="assets/img/elements/arr-right.png" alt="Arrow">
				</li>
				<li>
					<a href="#" class="co-name">Draugiem.lv</a>
				</li>
			</ul>

			<ul class="login-menu-2">
				<li>
					<img src="assets/img/elements/plus.png" alt="Add">
					<a href="#">
						Pievienot jaunu uzņēmumu
					</a>
				</li>
			</ul>

		</div>
	</div>
</section>
{% endif %}
